<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageVisualizer.Properties.Settings>
            <setting name="BackgroundColour" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ZoomMode" serializeAs="String">
                <value>NearestNeighbor</value>
            </setting>
            <setting name="Thumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbnailAlign" serializeAs="String">
                <value>3</value>
            </setting>
        </ImageVisualizer.Properties.Settings>
    </userSettings>
</configuration>